@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  background-color: white;
  color: black;
}

html {
  scroll-behavior: smooth;
}
@layer components {
  .nav-list a.active {
    @apply text-red-600  border-b-2 border-red-600;
  }
  .font-arial {
    font-family: Arial, Helvetica, sans-serif;
  }
  .clipped {
    clip-path: polygon(35% 0, 100% 0, 100% 100%, 0% 100%);
  }

  .zoom-in {
    animation: animate-zoom-in 20s ease-in-out infinite;
  }

  .dashes::before {
    content: "";
    @apply inline-block h-[1px] translate-x-10 w-10 bg-red-600;
  }
  .dashes::after {
    content: "";
    @apply inline-block h-[1px] -translate-y-6 -translate-x-10 w-10 bg-red-600;
  }

  .card:hover img {
    @apply scale-110;
  }
  .category-card:hover img {
    @apply scale-110;
  }
  .category-card:hover h3 {
    @apply text-red-600;
  }
  .feedback-background {
    background: url("/images/feedback-bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes animate-zoom-in {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
