@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  background-color: white;
  color: black;
}

@layer components {
  .nav-list a.active {
    @apply text-red-600  border-b-2 border-red-600;
  }
  .font-arial {
    font-family: Arial, Helvetica, sans-serif;
  }
}
