@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  background-color: white;
  color: black;
}

@layer components {
  .nav-list a.active {
    @apply text-red-600  border-b-2 border-red-600;
  }
  .font-arial {
    font-family: Arial, Helvetica, sans-serif;
  }
  .clipped {
    clip-path: polygon(35% 0, 100% 0, 100% 100%, 0% 100%);
  }

  .zoom-in {
    animation: animate-zoom-in 10s ease-in-out infinite;
  }
}

@keyframes animate-zoom-in {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
